@charset "utf-8";


/* reset */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,form,input,button,fieldset{margin:0; padding:0;letter-spacing: -0.5;}
body,h1,h2,h3,h4,h5,h6,th,td,input,button{font:12px/1.5 "oswald",sans-serif;}

ul,ol,li { list-style: none;}
img,button,fieldset{border:none;}
a{text-decoration:none; color:#999;}

/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(https://fonts.googleapis.com/css?family=Oswald);


